<li><a asp-controller="Home" asp-action="Index" class="active">Anasayfa</a></li>
<li><a asp-controller="Home" asp-action="About">Hakkımda</a></li>
<li><a asp-controller="Home" asp-action="Services">Hizmetler</a></li>
<li><a asp-controller="Home" asp-action="Portfolio">Portfolio</a></li>
<li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
<li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>