<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - Arsha Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    @* @await Html.PartialAsync("_StylesPartial") *@
    <partial name="_StylesPartial" />
</head>

<body class="index-page">
    @await Html.PartialAsync("_HeaderPartial")
    <main class="main">
        @RenderBody()
    </main>
    @await Html.PartialAsync("_FooterPartial")
    @await Html.PartialAsync("_ScrollPrePartial")
    @await Html.PartialAsync("_ScriptsPartial")
</body>

</html>