body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: rgb(217, 214, 214);
    height: 60px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu a:hover {
    color: rgb(56, 56, 56);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(217, 214, 214);
}

.page-title {
    width: 100%;
    text-align: center;
    color: orangered;
    font-weight: normal;
}

.content-container {
    display: flex;
}

.content-left {
    width: 20%;
    padding: 10px;
}

.category-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.category-list li {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: aquamarine;
    padding: 5px 10px;
    color: blue;
    cursor: pointer;
}

.campaign {
    text-align: center;
}

.campaign-img {
    width: 100%;
}

.campaign-title {
    margin-top: 0;
}

.campaign-description {
    font-size: 10px;
}
.message-container{
    display:flex;
    justify-content: center;
}
.message {
    background-color: orange;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-text {
    font-size: 10px;
    text-align: center;
    color: whitesmoke;
}


.content-right {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.product-card{
    background-color: red;
    width: 25%;
}