@model List<Category>
@* "Model" adındaki değişkenin içinde verimiz bulunmaktadır. *@

@{
    Layout="_CustomLayout";
    ViewData["Title"] = "ModelData";
    List<Category> categoryList = Model;
}

<h1>Model Bazlı Veri Yollama</h1>
@foreach (var category in categoryList)
{
    <div>@category.Name</div>
}