<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Project07_MVCTemelleri</title>
    @await Html.PartialAsync("_StylesPartial")
</head>

<body>
    @await Html.PartialAsync("_HeaderPartial")
    @* headerpartialdaki kısmı burada cağırdık await kısmı da burası çalışmaya öncelik vermek için asekron yapmak lazım
    'async' *@


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_FooterPartial")


    @await Html.PartialAsync("_ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
